<!DOCTYPE html>
<html>
<head>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<style>
.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  max-width: 300px;
  margin: auto;
  text-align: center;
  font-family: corbel;
}

</style>
</head>
<body>
  <title> E-Business Card</title>
<h2 style="text-align:center">Project #4</h2>

<div class="card">
  <h3>E-Business Card</h3>
  <br>
  <p>Muhammad Khan </p>
    <p>Web Developer</p>
  <p>myemail@gmail.com</p>
  <p>(646)000-0000</p>
  <p>Flushing, NY</p>
  <br>
</div>

</body>
</html>